<!DOCTYPE html>
<html>
  <head>
    <title>Display Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
      $(document).ready( function () {
        $('#table_id').DataTable();
      } );

    </script>
  </head>
  <body>
    <h1>Display User Data</h1>
    <table id="table_id" class="display" border="0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      </thead>

    <tbody>
      <% for(var i=0; i<docs.length; i++) { %>
        <tr>
            <td><%= docs[i].name%></td>
            <td><%= docs[i].age%></td>
        </tr>
      <% }%>
    </tbody>

    </table>
  </body>
</html>
