<!DOCTYPE html>
<html>
  <head>
    <title>Display Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
      $(document).ready( function () {
        $('#table_id').DataTable();
      } );

    </script>
  </head>
  <body>
    <h1>Display User Data</h1>
    <table id="table_id" class="display" border="0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Password</th>
      </tr>
      </thead>

      <tbody>
        <% for(var i=0; i<docs.length; i++) { %>
          <tr>
              <td><%= docs[i].username%></td>
              <td><%= docs[i].password%></td>
          </tr>
        <% }%>
      </tbody>
    </table>
  </body>

  <div id=login style="display:block; POSITION:absolute; left:50%; top:50%; width:400px; height:200px; margin-left:-300px; margin-top:-200px; border:1px solid #888; background-color:white; text-align:center">
    <p>User Login</p>
    <form method="post" action="/login">
      <table style="margin-left:70px; margin-bottom:50px">
        <tr>
          <td>username:</td>
          <td><input type="text" name="username"/></td>
        </tr>
        <tr>
          <td>password:</td>
          <td><input type="password" name="password" /></td>
        </tr>
      </table>
      <button onclick="javascript:closeLogin();">Login</button>
    </form>
  </div>

  <script>
    function openLogin(){
      document.body.bgColor = 'grey';
      document.getElementById("login").style.display="";
    }
    function closeLogin(){
      document.body.bgColor = 'white';
      document.getElementById("login").style.display="none";
    }
  </script>
  <a href="javascript:openLogin();">打开登录框</a>
</html>
